* {
	margin: 0;
	padding: 0;
}

header {
	background: black;
}

.menu {
	display: flex;
	justify-content: space-between;

}

.menu-container {
	width: 50vw;
	display: flex;
	/*justify-content: space-around;*/
	align-items: center;
}

.menu-link {
	text-decoration: none;

}

h2 {
	color: #FFFFFF;
	font-size: 1rem;
}

h2:hover {
	color:  #D8D8D8;
}

.image-1 {
	height: 9vh;
	width: 12vw;
}

.menu-container-1 {
	width: 50vw;
	display: flex;
	justify-content: space-around;
}

.menu-2 {
	width: 20vw;
	display: flex;
	justify-content: space-around;
	align-items: center;

}

.image-2 {
	/*height: 5vh;*/
    width: 2vw;
}
span {
	display: flex;
	padding: 0.25rem;
	height: 35%;
}

input {
	display: none;
	border: none;
	outline: none;
	background: #000;
	color: #FFFFFF;
}

.image-3 {
	/*height: 6vh;*/
	width: 2vw;
}


.image-4 {
	/*height: 9vh;*/
	width: 3vw;
}

.image-5 {
	/*height: 4vh;*/
	width: 1.5vw;
	transform: rotate(180deg);
}

.header-account {
	display: none;
	background-color: #848484;
	color: #FFFFFF;
}

.header-perfil {
	display: flex;
	flex-direction: column;
}

span {
	display: flex;
	align-items: center;
}

.account {

}

img {
	width: 5vw;
}

/*main {
	width: 100vw;
	height: 100vh;
}
*/
.main-geral {
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	background-image: url('assets/filme.jpg');
	background-size: cover;
	display: flex;
    justify-content: center;
    flex-direction: column;

}

.main-geral-block {

}

.main-paragraph {
	width: 40%;
	font-size: 1.3rem;
}

.main-image {
	width: 50vw;
	display: flex;
	justify-content: center;
}

.main-button {
	width: 40%;
	display: flex;
	justify-content: space-evenly;;
}

button {
	height: 7vh;
	border: 0;
	border-radius: 5px;
	background-color: #00000070;
	width: 12vw;
	color: #FFFFFF;
	font-weight: 800;
}

button:hover {
	background-color: #e6e6e6;
	color: #000000;
	transform: scale(1.1);

}

.sessao {
	background-color: #585858;
}

.sessao-adicionados-1, .sessao-series-1, .sessao-films-1, .sessao-minha-lista-1 .sessao-adicionados-2, .sessao-series-2, .sessao-films-2 .sessao-minha-lista-2 {
/*	color: #FFFFFF;
	font-size: 1.3rem;*/
	display: flex;
	flex-direction: row;
}

.sessao-adicionados-2, .sessao-series-2, .sessao-films-2 .sessao-minha-lista-2{
	display: none;
}

h3 {
	color: #FFFFFF;
	font-size: 1.5rem;
}

.sessao-images {
	width: 18vw;
	margin: 5px;
    object-fit: cover;
    transition: all 1s ease;
}

.sessao-images:hover {
  transform: scale(1.3);
}

.seta {
	color: #FFFFFF;
	font-size: 4.5rem;
	font-weight: 800;
	display: flex;
	align-items: center;
}
.seta:hover {
	/*display: none;*/
	font-size: 5rem;
}

.footer {
	padding: 4rem 10%;
	/*height: 50vh;*/
	background-color: #424242;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
	/*align-items: flex-start;*/
}

.footer-logo {
	width: 18vw;

}

.footer-lista {
	width: 100%;
	height: 30vh;
	font-size: 1.2rem;
    color: #808080;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.footer-link {
	text-decoration: none;
	 color: #808080;
	width: 25%;
}
.footer-link:hover {
	text-decoration: underline;
}

li {
	/*width: 25%;*/
	/*height: 30vh;*/
}
.footer-div-geral {
	margin-bottom: 2rem;

}

.footer-div {
	width: 13vw;
	height: 5vh;
	color: #A4A4A4;
	margin-bottom: 2rem;
	margin-top: 2rem;
	font-size: 1.3rem;
    border: 2px solid;
    border-color: #A4A4A4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-paragraph {
	font-size: 1rem;
	color: #A4A4A4;
}